<suite name="AdvancedPOM">
 <listeners>
        <listener class-name="com.jiji.listener.TestListener"/>
    </listeners>
    <test name="LoginTests">
    <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.jiji.test.LoginTest"/>
        </classes>
    </test>
    
</suite>
